@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */

    nav button { display:none; }

    /* This should be changed */
    nav button {
        display: none;}

    nav ul.hide {
        display: flex;}

    nav ul {
        margin-left: 2%;
        flex-wrap: nowrap;
    }
    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }
    .weatherPhoto {

        display: inline-grid;

        grid-template-columns: 1fr 1fr 1fr;

        text-align: center;
    }

    .weatherPhoto figure:hover {

        box-shadow: 3px 3px 3px 3px;

        border: 2px solid #262626;
    }

    .weatherPhoto figure{

        margin: 10px;

        padding: 2%;

        padding-bottom: 10%;

        border: 2px solid #000;
    }

    main h2 {

        display: inline;

    }
}
