/* --------------------------------------------- */
/* --------- Branding: Color Palette ----------- */
/* --------------------------------------------- */
/* These are the colors of the boxes under the Branding section */
#swatch1{
    background-color: #586732;
}
#swatch2{
    background-color: #d86d26;
}
#swatch3{
    background-color: #292929;
}
#swatch4{
    background-color: #848888;
}

/* ----------------------------------------------------- */
/* --------- Typography: Heading & Body Copy ----------- */
/* ----------------------------------------------------- */
/* These are the font families of all the headings and body copy */

body{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Quando', serif;
}


/* -------------------------------------------------- */
/* --------- Navigation: Main & Secondary ----------- */
/* -------------------------------------------------- */
/* Colors, style, floating, shapes, etc of main & secondary navs */

/* Main Navigation Style */
nav {

    position: relative;
    width: 105px;
    margin: 0;
    padding: 5px;
}

li a.activeLink {

    background-color: #586732;

    font-weight: bold;

    color: #fff;

}

.navigation {

    list-style: none;

    padding-left: 0;

    background-color: #292929;

    text-align: left;

    width: 105px;

}

.navigation a {

    display: block;

    color: #eee;

    padding: .8rem;

    text-decoration: none;

    padding-left: .5em;

}

.navigation a:hover {

    background-color: #586732;

    color: #fff;

}



/* Secondary Navigation Style */
footer {

    text-align: center;
    color: #292929;
    background-color: #586732;
    padding-top: 2px;
    padding-bottom: 20px;

}

.footer-bar {
    color: #fff;
}


.navTwo {

    text-align: center;
    font-weight: bold;
    padding-left: 0;
}

.navTwo li {

    display: inline-block;
}

.navTwo a {

    display: block;
    color: #fff;
    padding: .4rem;
    text-align: center;
    text-decoration: none;
}

.navTwo a:hover {

    color: #586732;
    background-color: #fff;
    border-radius: 10px;
}





/* ----------------------------------- */
/* --------- HTML Elements ----------- */
/* ----------------------------------- */
/* Styling for all HTML Elements */

/* True for all headings */
h1, h2, h3 ,h4, h5, h6{
    color: #292929;
}


/* Style for individual headings */
h1{


}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}


/* List Styles */
ul{

}
ul li{

}

ol{

}
ol li{

}


/* Non-Navigational Link Styles */
/* This is for all default links on your page */
a:link{

        text-decoration: none;

        font-weight: bold;

        color: #ca251a;
}
a:visited{

}
a:hover{

}
a:active{

}

/* This is for secondary link styles (possibly in your footer, etc) */
.linkstyle2 a:link{

    display: block;

    color: #fff;

    padding: .4rem;

    text-align: center;

    text-decoration: none;
}
.linkstyle2 a:visited{

}
.linkstyle2 a:hover{

        color: #586732;

        background-color: #fff;

        border-radius: 10px;

}
.linkstyle2 a:active{

}


/* Paragraph Styles */
p{
    color: #292929;
    /* Other paragraph styles */
}


/* Figure and Figcaption Styles */

.grid-img {

    display: flex;

    flex-flow: row wrap;

    grid-template-columns: 10px;

    text-align: center;

}

figure{

    margin: 10px;

    padding: 8px;

    /* border: 2px solid #292929; */

    max-width: 750px;

    margin: auto;

}

figure img {

    max-width: 200px;

}

figcaption {

    /* border */
    border: 2px solid #d86d26;
    border-radius: 15px;

    /* text */
    font-family: 'quando', serif;
    font-size: 18px;
    font-weight: bold;

    /* color */
    background-color: #d86d26;
    color: #fff;

    /* other */
    padding: 5px;
}

figure img {

    margin-bottom: 10px;

}
.figlink {

    text-decoration: none;
}

/* ------------------------------------- */
/* --------- Style Guide CSS ----------- */
/* ------------------------------------- */
/* The following CSS is used for the styling of the structure of the Style Guide itself */
body{
    width: 700px;
    margin: 10px auto;
    border: 1px solid #777;
    padding: 20px;
}

.styleguide{
    font-family: "Courier New", Courier, monospace;
}
h1.styleguide, h2.styleguide, h3.styleguide, h4.styleguide, h5.styleguide, h6.styleguide{
    color: #777;
    font-family: "Courier New", Courier, monospace;
}
h2.styleguide{
    background-color: #586732;
    border-radius: 15px;
    padding: 15px;
    margin-left: -15px;
    color: white;
}
p.styleguide{
    color: #777;
    font-family: "Courier New", Courier, monospace;
}

section{
    margin-top: -10px;
    margin-bottom: 70px;
}
.colorgroup{
    float: left;
    width: 170px;
}
.colorgroup h4{
    font-size: .9em;
}
.colorgroup p{
    font-size: .8em;
}
.clear{
    clear: both;
}
.swatches{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

#daveL img {
    width: 60%;
}

.proj {

    /* Text */

    font-family: 'arial black', serif;

    font-size: 16px;

    text-decoration: none;

    text-align: center;

    /* Color */

    color: #d86d26;

    background-color: #fff;

    /* Display */

    position: fixed;

    right: 0px;

    margin-right: 60px;

    padding:10px;

    /* Border */

    border:2px solid #d86d26;

    border-radius: 15px;

    /* Other */

    cursor: pointer;

    z-index: 99;
}


.proj:hover {

    background-color: #d86d26;

    border: 2px solid #d86d26;

    color: #fff;
}

#logo {

    height: 100px;
}
