/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: arial, sans-serif;  /* Declare the base font-family */
    max-width: 900px;
    margin: auto;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 900px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    margin-top: 20px;
}

header h1 {
    color: #323232;

    font-family: 'arial black', 'gadget', sans-serif;

    font-size: 60px;

    display:inline;
}

header h2 {
    display: inline;

    font-size: 20px;

    font-style: italic;
}

header img {
    float: left;

    display: inline-flex;

    max-width: 100px;

    margin-top: 15px;

}

header .subheading {

}

nav {}
nav button {}
nav ul {

    background-color: #323232;

    list-style-position: inside;

    margin-bottom:-1px;

}

nav li {

    display: inline-flex;

    padding-right: 20px;

    font-weight: bold;

    text-decoration: none;

    list-style: none;

    text-align: center;

    padding: 14px 16px;

}

nav a:link {
    color: #138eaf;

    text-decoration: none;}

nav a:visited {
    color: #1bb2b2;

    text-decoration: none;
}

nav a:hover {
    color: #fcd215;

    text-decoration: none;
}

nav a:active {
    color: #fffff8;

    text-decoration: none;
}

main {
    border: 2px;

    border-style: solid;

    border-color: #323232;

    padding: 30px;

}

main h2 {

    display: inline;

}

main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {
    float: left;
    display: inline-flex;
    max-width: 400px;
}

footer {
    text-align: center;
    background-color: #d2d2d2;
    border: 2px;

    border-style: solid;

    border-color: #323232;
}

.footer-bar {
    background-color: #323232;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;

}
